[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncpg = "0.27.0"
fastapi = "0.95.0"
fastapi-utils = "0.2.1"
psycopg2-binary = "2.9.5"
python-dotenv = "1.0.0"
SQLAlchemy = "==1.4.47"
strawberry-graphql = "0.167.0"
uvicorn = "0.21.1"
pydantic = "==1.10.7"
orjson = "==3.8.10"

[dev-packages]
ipykernel = "6.22.0"
pre-commit = "3.2.1"
pytest = '7.2.2'
pytest-cov = "4.0.0"
ruff = "0.0.259"
sqlacodegen = "==3.0.0rc2"

[tool]
setuptools = {py-modules = ["strawberry"]}

[requires]
python_version = "3.11"
